https://joshix.com {
	tls j@joshix.com
	gzip
	log stdout
	redir 301 {
		/2007/02/illustration-friday-communication.html /2007/02/23/illustration-friday-communication/
		/2009/09/scrub-jay.html /2009/09/25/scrub-jay/
		/2011/02/an-advantage-of-angles.html /2005/11/15/an-advantage-of-angles/
		/2011/02/courtyard.html /2006/10/13/courtyard/
		/2011/04/yatc-mb1-updated.html /2011/04/22/microbe-updated/
		/2011/07/one-reader-writes.html /2011/07/11/one-reader-writes/
		/2011/10/roy-orbison.html /2011/10/21/roy-orbison/
		/2013/05/illustration-friday-future.html /2013/05/12/illustration-friday-future/
		/2013/12/at-oyster-cellar.html /2013/12/15/oyster-cellar/
		/p/about.html /about/
		/projects/discount /projects/#plan-9-stuff
		/projects/mb /project/mb/
		/projects/weatherman /project/weatherman/
	}
}
