[Unit]
# Metadata
Description=Joshix.com web site container
Documentation=https://github.com/joshix/jxnu
# Wait for networking
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
# Resource limits
Delegate=true
#CPUShares=512
#MemoryLimit=512M
#
# Start the app container with rkt
ExecStart=/usr/bin/rkt run --insecure-options=image \
--port http:80 --port https:443 \
--dns=8.8.8.8 --dns=8.8.4.4 \
--volume dotcaddy,kind=host,source=/home/core/dotcaddy,readOnly=false \
/home/core/jxnu-v1.0-caddy-v0.8.3-linux-amd64.aci
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
