[Unit]
# Metadata
Description=Jxnu-ACI
Documentation=https://joshix.com/2016/06/12/migration-brief/
# Wait for networking
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
# Resource limits
Delegate=true
#CPUShares=512
#MemoryLimit=512M
# Env vars
#Environment=HTTP_PROXY=192.0.2.3:5000
#Environment=STORAGE_PATH=/opt/myapp
#Environment=TMPDIR=/var/tmp
# Fetch the app (not strictly required, `rkt run` will fetch the image if there is not one)
#ExecStartPre=/usr/bin/rkt fetch quay.io/josh_wood/caddy:latest
# Start the app
ExecStart=/usr/bin/rkt run --insecure-options=image \
--port http:80 --port https:443 \
--dns=8.8.8.8 --dns=8.8.4.4 \
--volume dotcaddy,kind=host,source=/home/core/dotcaddy,readOnly=false \
/home/core/jxnu-v1.0-caddy-v0.8.3-linux-amd64.aci
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
