#!/bin/rc

clonefile=/net/tcp/clone

if(! ~ $#* 2) {
	echo Usage: telnet ip port >[1=2]
	exit usage
}

<[4] $clonefile {
	netdir=`{basename -d $clonefile} ^ / ^  `{cat /fd/4}
	echo connect $1!$2 >$netdir/ctl || exit 'cannot connect'
	cat $netdir/data & 
	cat >$netdir/data
}
